<h1><%- title %></h1>

<form action="/account/login" method="post" class="form">
  <%- messages() %>
  <div class="form__field">
    <label for="email">Email:</label>
    <input
      type="text"
      name="account_email"
      id="email"
      required
      aria-label="You email"
    />
    <span></span>
  </div>
  <div class="form__field">
    <label for="password">Password</label>
    <input
      type="password"
      name="account_password"
      id="password"
      aria-label="Your password"
      required
    />
    <span></span>
    <%- passwordRules %>
  </div>
</form>
