<nav>
  <!-- <ul>
    <li class="navigationOption">Home</li>
    <li class="navigationOption">Custom</li>
    <li class="navigationOption">Sedan</li>
    <li class="navigationOption">SUV</li>
    <li class="navigationOption">Truck</li>
  </ul> -->
  <%- nav %>
</nav>
